#contact {
    height: 75vh;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px;
    margin: 0 auto;
}

.contact-form-wrapper input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 9px;
    border: 1px solid var(--secondary);
    font-size: 18px;
}

.contact-form-wrapper input:focus-visible {
    border: 3px solid var(--secondary);
    outline: none;
}

.contact-form-wrapper #gdpr {
    width: fit-content;
}

.contact-form-wrapper .primary-btn {
    justify-content: center;
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;
    max-width: none;
    background-color: var(--secondary);
}

@media (max-width: 768px) {
    #contact {
        height: fit-content;
    }
}