<header>
    <div class="topnav" id="myTopnav">
        <div class="topnav-content">
            <div class="header-col">
                <a href="index.html">
                    <img class="header-logo" src="./IMG/logo.jpg" alt="Logo">
                </a>
            </div>
            <div class="header-col">
                <a href="over.html">Over</a>
                <a href="dj.html">DJs</a>
                <a href="klanten.html">Klanten</a>
            </div>
            <div class="header-col">
                <a class="primary-btn" href="contact.html">Contact</a>
            </div>
        </div>
        <div class="topnav-content-sm">
            <div class="header-col">
                <a href="index.html">
                    <img class="header-logo" src="./IMG/logo.jpg" alt="Logo">
                </a>
            </div>
            <div class="header-col">
                <a href="javascript:void(0);" class="icon" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="small-menu-wrapper">
            <div class="small-menu-content">
                <a href="over.html">Over</a>
                <a href="dj.html">DJs</a>
                <a href="klanten.html">Klanten</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </div>
</header>